/* ADD YOUR STYLES HERE */
.data-table {
	width:100%;

}
.data-table td {
	border-bottom: 1px solid gray;
padding: 5px;
padding-top: 7px;
padding-bottom: 7px;
vertical-align: top;
}

.data-table th{
	text-align: left;
	padding: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
}
.stats {
width:30%;
}
.stats td {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
padding: 5px;
padding-top: 20px;
padding-bottom: 20px;
vertical-align: top;

}
.bg-num{
	font: bold 30px/30px sans-serif;
	text-align: center; 
}

.ltl-txt{
		font: 12px/12px sans-serif;
	text-align: center;
	color: #ccc;
}