/* ADD YOUR STYLES HERE */
.data-table {
	width:100%;

}
.data-table td {
	border-bottom: 1px solid gray;
padding: 5px;
padding-top: 7px;
padding-bottom: 7px;
vertical-align: top;
}

.data-table th{
	text-align: left;
	padding: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
}
.stats {
width:30%;
}
.stats td {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
padding: 5px;
padding-top: 20px;
padding-bottom: 20px;
vertical-align: top;

}
.bg-num{
	font: bold 30px/30px sans-serif;
	text-align: center; 
}

.ltl-txt{
		font: 12px/12px sans-serif;
	text-align: center;
	color: #ccc;
}

.bar-chart{
	width: 100%;
}

.bar-chart th{
	width:100px;
}

.bar{
	background-color: #55AAFF;
	color: white;
	text-indent: 5px;
}

.l-box{
	
	background-color: rgb(71,70,71);
	padding: 150px;

}
.h-box{
	background-color: white;
	padding: 10px 10px 60px 10px;
	border-radius: 10px;
	position: relative;
	
}

.c-box{
	background-color: rgb(224,108,119);
	padding: 5px 5px 5px 5px;
	border-radius: 5px;
	width: 80px;
	text-align: center;
	bottom: 15px;
	right:15px;
	position:absolute;
	color:white;
}

.mb1{
	float: left;

}
.text {
	margin-left: 60px;

}

.mb2{
	float: left;
}

.ci2{
	margin-left: 60px;

}

.mb3{
	margin-left: 60px;
	float: left;
}

.ci3{
margin-left: 100px;
}

.text2{
	margin-left: 100px;
}
